@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #282638;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body {

    background-color: white;
    font-family: "Poppins", sans-serif;
}

.sidebar-container {
  @apply bg-glass h-[96%]  rounded-3xl ml-6 p-4 border transition-all duration-500 border-solid border-glass relative
}

.sidebar {
  @apply flex items-center mt-5 p-3 cursor-pointer rounded-full hover:bg-white hover:text-home transition-all duration-300
}

.sidebar-container2 {
  @apply bg-[#03045E] h-[100%]   p-4 border transition-all duration-500 border-solid border-glass relative
}
/* #0077B6 */   /* rounded-3xl*/
.sidebar2 {
  @apply flex items-center mt-5 p-3 cursor-pointer rounded-full hover:bg-white hover:text-home transition-all duration-300
}

.footer-container {
  @apply bg-nav h-[15%] w-[100vw]   p-4 border transition-all duration-500 border-solid border-glass relative
}

.footer {
  @apply flex items-center mt-5 p-3 cursor-pointer rounded-full hover:bg-white hover:text-home transition-all duration-300
}



